<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $('#dateDebut, #dateRetour, #prixJour').change(function() {
                $.ajax({
                    url: '/calculatePrice',
                    type: 'post',
                    data: {
                        dateDebut: $('#dateDebut').val(),
                        dateRetour: $('#dateRetour').val(),
                        prixJour: $('#prixJour').val()
                    },
                    success: function(response) {
                        // Update the prix input field with the response
                        $('#prix').val(response);
                    }
                });
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div class="container my-5">
    <h3> Update location</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/location/save}" th:object="${locationForm}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="dateDebut" class="col-form-label">Date débbut</label>
                            <input type="date" id="dateDebut" th:field="*{dateDebut}"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="dateRetour" class="col-form-label">Date retour</label>
                            <input type="date" id="dateRetour" th:field="*{dateRetour}"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="prixJour" class="col-form-label">Prix jour</label>
                            <input type="number" th:field="*{prixJour}" class="form-control"
                                   id="prixJour" placeholder="Prix jour"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="prix" class="col-form-label">Prix</label>
                            <input type="number" th:field="*{prix}" class="form-control"
                                   id="prix" placeholder="Prix" disabled/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="client">Select Client:</label>
                            <select class="form-control" id="client" name="client" th:field="*{client.id}" required>
                                <option th:each="client : ${clients}" th:value="${client.id}"
                                        th:text="${client.nom}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="voiture">Select Voiture:</label>
                            <select class="form-control" id="voiture" name="voiture" th:field="*{voiture.id}" required>
                                <option th:each="voiture : ${voitures}" th:value="${voiture.id}"
                                        th:text="${voiture.serie}"></option>
                            </select>
                        </div>


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>
                        <div class="col-md-6">
                            <a th:href="@{/locations/all}" class="btn btn-primary">
                                Annuler</a>
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
